!!!5
html
	head
		meta(charset='UTF-8')
		title Document
		link(rel="stylesheet", type="text/css", href="css/main.css")
	body
		p Сегодня утром в самом центре Донецка, в Парке кованых фигур случился переполох. Полноватый обнаженный мужчина с крестом выкрикивал призывы и проклятия в адрес высокопоставленных чиновников и церковных иерархов, обвиняя их в коррупции и нетрадиционной сексуальной ориентации. Кроме того, он обещал исцелить от СПИДа всех, кто последует его примеру. Сегодня утром в самом центре Донецка, в Парке кованых фигур случился переполох. Полноватый обнаженный мужчина с крестом выкрикивал призывы и проклятия в адрес высокопоставленных чиновников и церковных иерархов, обвиняя их в коррупции и нетрадиционной сексуальной ориентации. Кроме того, он обещал исцелить от СПИДа всех, кто последует его примеру.
		script(type="text/javascript", src="js/lib/jquery-2.0.1.js")
		//- script(type="text/javascript", src="js/lib/jquery.ba-resize.min.js")
		script(type="text/javascript", src="js/main.js")