!!!5
html
	head
		meta(charset='UTF-8')
		title Document
		link(rel="stylesheet", type="text/css", href="css/main.css")
	body
		p Cow venison chuck tri-tip, t-bone ball tip brisket shank pork belly. Boudin frankfurter venison prosciutto, tongue andouille doner shoulder. Pastrami kielbasa pig spare ribs tongue doner. Corned beef beef ribs pork chop pork, bresaola cow ham hock chuck shank tail boudin doner tenderloin. Tongue tail drumstick, short loin turkey beef ribs tri-tip short ribs capicola chuck jerky boudin brisket doner pork belly. 
		script(type="text/javascript", src="js/lib/jquery-2.0.1.js")
		script(type="text/javascript", src="js/main.js")